body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

header {
  background: #0d2d52;
  padding: 15px 0;
  color: white;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-call {
  background: gold;
  padding: 8px 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.hero {
  background: #0d2d52;
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.btn {
  background: gold;
  padding: 12px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 10px;
  display: inline-block;
}

.btn-outline {
  border: 2px solid white;
  padding: 12px 20px;
  text-decoration: none;
  color: white;
  margin: 10px;
  display: inline-block;
}

.services {
  padding: 60px 0;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.cta-section {
  background: #0d2d52;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.contact {
  padding: 50px 0;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  background: #0d2d52;
  color: white;
  padding: 10px 20px;
  border: none;
}

footer {
  background: #0d2d52;
  color: white;
  text-align: center;
  padding: 20px;

}
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  z-index: 100;
  line-height: 60px;
}
